/* test colors

Main: #CBA35C;
soft: #F8E1B7;
*/

/* .kablammo-font {
  font-family: "Kablammo", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "MORF" 0;
} */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}

/* TRY 1 */

/* .workshops-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  background: url(Material/Pics/Workshops/icon-workshop.jpg) top 60% left -5% / 50rem
      50rem no-repeat,
    #f4c90b;
  background-blend-mode: darken;
  position: relative;
}

h1 {
  font-size: 8rem;
  font-family: Mansalva;
  color: #c90bf4;
  position: absolute;
  top: 29%;
  left: 31%;
}

h2 {
  font-size: 4rem;
  font-family: Mansalva;
  color: #0bc4f9;
  position: absolute;
  top: 65%;
  left: 23%;
} */

/* .fake-menu {
  position: absolute;
  right: 3%;
  top: 5%;
}

ul {
  display: flex;
  list-style-type: none;
}

a {
  margin-right: 1rem;
  border-bottom: 0.3rem ridge #360bf4;

  padding: 1rem;
  font-family: Mansalva;
}

li {
  text-decoration: none;
}

a:link {
  font-size: 2rem;
  text-decoration: none;
  color: rgb(0, 0, 0);
}

a:hover,
a:active {
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}

a:focus {
  color: #0baaf4;
}

.fake-tag {
  border: 0.5rem solid #0baaf4;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
} */

/* ---------TRY2 ----------- */

/* .intro-container {
  width: 100vw;
  height: 100vh;
  background: url(Material/Pics/Workshops/paidia-kyklos.jpg) 0% 0% / 100% auto,
    linear-gradient(to right, rgba(255, 255, 255, 0.4), rgb(255, 255, 255, 0.4));
  background-blend-mode: lighten;
  position: relative;
}

.orange-shape {
  width: 75rem;
  height: 30rem;
  position: absolute;
  right: 30rem;
  bottom: 10rem;
  border-radius: 10%;
  border-top-left-radius: 50%;
}

.icon {
  position: absolute;
  top: 8rem;
  left: 20rem;
  height: 30rem;
} */

/* try2  --- nav --- */

/* .fake-menu {
  position: absolute;
  right: 3%;
  top: 4%;
  padding: 1rem;
  box-shadow: -0.5rem 0.5rem 5rem #f4cd0b;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 20%;
}

ul {
  display: flex;
  list-style-type: none;
}

a {
  margin-right: 1rem;
  color: #ff0385;
  padding: 1.2rem;
  padding-bottom: 0.4rem;
  font-family: Mansalva;
}

li {
  text-decoration: none;
}

a:link {
  font-size: 2rem;
  text-decoration: none;
  color: rgb(0, 0, 0);
}

a:hover,
a:active {
  background-clip: content-box;
  background-color: rgb(0, 0, 0);
}

a:focus {
  color: #0baaf4;
}

.fake-tag {
  box-sizing: padding-box;
  border-bottom: 0.3rem ridge #0baaf4; 
  border-top-right-radius: 50%;
  border-top-left-radius: 50%; 
}
 */

/* ------- TRY 3 -------- */

/*icon on top, gradient on bottom  */
.intro-container {
  position: relative;
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  background: url(Material/Pics/Workshops/icon-workshop-trans.png) 0% 1% / 15%
      repeat-y,
    url(Material/Pics/Workshops/icon-workshop-trans.png) 95% 50% / 15% repeat-y,
    #f2f3f4;
  z-index: -1;
}

.fake-menu {
  background: url(Material/Pics/Instagram/shadows-color.webp) 0% 56% / 100%;
  position: absolute;
  top: 3rem;
  left: 22%;
  width: 70rem;
  box-sizing: content-box;
  outline: 5px double orange;
  box-shadow: 0 0 10rem 3rem rgba(255, 0, 0, 0.292);
}

ul {
  margin-left: 3rem;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

li {
  margin-right: 2rem;
}

a {
  display: inline-block;
  text-decoration: none;
  color: rgb(19, 19, 19);
  font-weight: 500;
  font-family: Mansalva;
  padding: 2rem 1rem;
  font-size: 1.3rem;
}

a:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.5);
  transition: transform 0.3s cubic-bezier(0.55, 0, 0.55, 0.2),
    color 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
}

.orange-shape {
  width: 30rem;
  height: 15rem;
  position: absolute;
  right: 30rem;
  bottom: 10rem;
  border-radius: 10%;
  border-top-left-radius: 50%;
}

h1 {
  position: absolute;
  left: 57%;
  top: 57%;
  font-size: 4rem;
  font-family: Mansalva;
  color: #600f72;
}

h2 {
  font-size: 1.8rem;
  font-family: Mansalva;
  color: #720f53;
  position: absolute;
  top: 74%;
  left: 54%;
}

.frame {
  width: 45rem;
  position: absolute;
  top: 35%;
  left: 20%;
  transform: rotate(-20deg);
  border-radius: 10%;
  border: 10px outset #fd5d00c5;
}

/* in-between */

.inbetween::after {
  position: absolute;
  content: "";
  /* outline: 1px ridge rgb(0, 183, 255); */
  box-shadow: 0 3rem 2px 2px orangered;
  top: 20rem;
  width: 200%;
  left: -30rem;
}

/* STARTING WITH SCROLLING */

.workshop-icon-container {
  position: relative;
  height: 170rem;
  background: url(Material/Pics/Workshops/icon-workshop-trans.png) 0% 1% / 15%
      repeat-y,
    url(Material/Pics/Workshops/icon-workshop-trans.png) 95% 50% / 15% repeat-y,
    #f2f3f4;
  z-index: -2;
}

.flexbox-container {
  display: flex;
  position: absolute;
  width: 57%;
  top: 20rem;
  left: 27rem;
  gap: 10rem;
  overflow: hidden;
}

.flexbox-container > p {
  font-family: Mansalva;
  font-size: 1.6rem;
  flex: 0 1 40rem;
  align-self: center;
  justify-self: center;
  text-align: justify;
}

.flexbox-container > img {
  height: 20rem;
  transform: rotate(30deg) scale(1.3);
  z-index: -1;
  border: 5px groove #02fd05;
}

.workshop-icon-container > p {
  position: absolute;
  top: 50rem;
  left: 27rem;
  font-family: Mansalva;
  font-size: 2rem;
  width: 57%;
  text-align: justify;
}

/* IMAGE CONTAINER */

.image-container {
  position: absolute;
  display: grid;
  top: 70rem;
  left: 20rem;
  width: 66%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 20rem 20rem;
  gap: 0.2rem;
  background: linear-gradient(to bottom, transparent 5%, #f2f3f4 120%),
    linear-gradient(
      to bottom,
      #4d4de766,
      #4d4de766 50%,
      rgba(0, 0, 255, 0.325) 120%
    ),
    url(Material/Background/felos-background.jpg) 0% 0% / 100%;

  border-radius: 10%;
}

.image-container > img {
  height: 20rem;
  border-radius: 5%;
  box-shadow: -4px 7px 1px 2px rgba(128, 128, 128, 0.284);
}

.image-container > img:nth-child(1) {
  margin-left: 0.5rem;
  height: 25rem;
  grid-column: 1 / 2;
  grid-row: 1/3;
  align-self: center;
  border: 5px solid #ffc800;
}

.image-container > img:nth-child(2) {
  height: 30rem;
  grid-column: 2/3;
  grid-row: 1/3;
  align-self: center;
  border: 5px solid #9100ff;
}
.image-container > img:nth-child(3) {
  height: 20rem;
  grid-column: 3/4;
  grid-row: 1/3;
  align-self: center;
  border: 5px solid #e6be2e;
}
.image-container > img:nth-child(4) {
  height: 15rem;
  grid-column: 4/5;
  grid-row: 1/2;
  align-self: flex-end;
  border: 5px solid #1100ff;
}
.image-container > img:nth-child(5) {
  height: 15rem;
  grid-column: 4/5;
  grid-row: 2/3;
  align-self: flex-start;
  border: 5px solid #ff006f;
  transform: scaleX(-1);
}

/* END OF IMAGE CONTAINER */

.info {
  position: absolute;
  top: 120rem;
  left: 42%;
  margin: auto;
  font-size: 3rem;
  font-family: Mansalva;
  text-decoration: underline orangered;
  text-underline-offset: 2rem;
}

.text-container {
  position: absolute;
  top: 129rem;
  left: 23%;
}

.text-container > ul {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
}

li {
  list-style-type: disc;
}

ul > li {
  margin-top: 1rem;
}

li > p {
  font-family: Mansalva;
  font-size: 1.5rem;
}

.text-container > p {
  font-family: Mansalva;
  font-size: 1.5rem;
  text-align: justify;
}

/* BUTTONS FOR FAST SCROLLING */

.button-container {
  position: absolute;
  top: 150rem;
  left: 24rem;
  display: flex;
  width: 60%;
  height: 20rem;
}

.button-container button {
  margin-right: 1rem;
  height: 7rem;
  width: 20rem;
  border-radius: 24%;
}

.button-container button:nth-child(1) {
  background-color: #663399;
}

.button-container button a:nth-child(1) {
  color: inherit;
}

.button-container button:nth-child(2) {
  background-color: #ffc800;
}

.button-container button:nth-child(3) {
  background-color: #ff006f;
}

.button-container button:nth-child(4) {
  background-color: #00ddff;
}

.button-container button:nth-child(5) {
  background-color: #6fff00;
}
